:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #141D2F;
    --highlightg-color: #00bee8;
    --text-color:#E8E3E3;

    --margin: 15px;
    --space:20px;
    --menu-height: 75px;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
    font-family: "PT Sans", "Open Sans", sans-serif;
    font-size: clamp(1rem, 0.933rem + 0.36vw, 1.2rem);
    color: var(--text-color);
    overflow-x: hidden !important;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

.pointer{
    cursor: pointer;
}

.coloriezed {
    color: var(--primary-color);
}