:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #141D2F;
    --highlightg-color: #1cdae6;
    --highlightg-color-hover: #4b47ff;
    --text-color:#E8E3E3;

    --margin: 15px;
    --space:20px;
    --menu-height: 75px;
    --radius:15px;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
    font-family: "PT Sans", "Open Sans", sans-serif;
    font-size: clamp(1rem, 0.933rem + 0.36vw, 1.2rem);
    color: var(--text-color);
    overflow-x: hidden !important;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

hr {
    background: var(--highlightg-color);
    height: 3px;
    border: none;
}

button {
    box-shadow: 4px 4px 4px 0px #00000040;
    width: Hug (107px);
    height: Hug (58px);
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    gap: 10px;
    color: white;
    font-size: 1.5rem;
    border: 1px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--highlightg-color-hover);
        padding: 15px 40px 15px 40px;
    }
}

.pointer{
    cursor: pointer;
}

.coloriezed {
    color: var(--primary-color);
}

.primary {
    background-color: var(--highlightg-color);
}

.secondary {
    background-color: var(----highlightg-color-hover);
}