:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #141D2F;
    --text-color:#E8E3E3;

    --margin: 15px;
    --menu-height: 75px;
}

html, body{
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color:var(--text-color);
}